.Game {
  width: 100%;

  .game-sky {
    display: flex;
    background: lightcyan;
    height: 50%;
    width: 100%;

    .game-status{
      height:30%;
      padding:1%;
      text-align: center;
    }
    
    .game-definition {
      flex:2;
      font-size:2rem;
    }

    .game-definition-score {
      flex:1;
      font-size:2rem;
    }

    .game-user-score {
      flex:1;
      font-size:2rem;
    }
  }

  .game-ocean {
    position: relative;
    height: 50%;
    width: 100%;
    background: cadetblue;
  }


}